@font-face {
    font-family: "NextArt Regular";
    src: url(/fonts/NextArt/NEXT\ ART_Regular.otf) format("opentype");
}
@font-face {
    font-family: "TerminatorGen";
    src: url(/fonts/TerminatorGen/terminatorgen.otf) format("opentype");
}